<div class="record-form">
  <!-- 按鈕區塊 -->
  <div class="btn-section">
    <div class="container">
      <button class="btn" (click)="openModal('create', [])">新增</button>
      @if(!editStatus) {
      <button class="btn" (click)="editControl()">編輯</button>
      } @else {
      <button class="btn" (click)="editControl()">結束</button>
      }
    </div>
  </div>
  <!-- 資料區塊 -->
  <div class="card-section">
    <div class="container">
      <div class="all-card">
        @for (item of cardData; track $index) {
        <div class="each-item2">
          @if (selectedTheme === '收支紀錄') {
          <h1 class="title">{{ item['date'] }}</h1>
          <div class="content">
            @if (item['income_detail'].length > 0) {
            <div class="data">
              @for (income_data of item['income_detail']; track $index) {
              <table>
                <tr>
                  <td class="one">{{income_data['category']}}</td>
                  <td class="two">{{income_data['name']}}</td>
                  <td class="three income">
                    +{{income_data['data']}}元
                    @if (editStatus) {
                    <img src="./assets/icon/edit.png" alt="" (click)="openModal('edit', income_data)">
                    <img src="./assets/icon/delete.png" alt="" (click)="delete(income_data)">
                    }
                  </td>
                </tr>
              </table>
              }
            </div>
            }
            @if (item['expend_detail'].length > 0) {
            <div class="data">
              @for (expend_data of item['expend_detail']; track $index) {
              <table>
                <tr>
                  <td class="one">{{expend_data['category']}}</td>
                  <td class="two">{{expend_data['name']}}</td>
                  <td class="three expend">
                    -{{expend_data['data']}}元
                    @if (editStatus) {
                    <img src="./assets/icon/edit.png" alt="" (click)="openModal('edit', expend_data)">
                    <img src="./assets/icon/delete.png" alt="" (click)="delete(expend_data)">
                    }
                  </td>
                </tr>
              </table>
              }
            </div>
            }
          </div>
          <div class="total">
            <span>總計</span>
            <span>{{item['total_income'] - item['total_expend']}}元</span>
          </div>
          } @else {
          <h1 class="title">{{ item['month'] }}</h1>
          <div class="content">
            <div class="data">
              @for (budget_data of item['budget_detail']; track $index) {
              <table>
                <tr>
                  <td class="one">{{budget_data['category']}}</td>
                  <td class="two">{{budget_data['name']}}</td>
                  <td class="three budget">
                    {{budget_data['data']}}元
                    @if (editStatus) {
                    <img src="./assets/icon/edit.png" alt="" (click)="openModal('edit', budget_data)">
                    <img src="./assets/icon/delete.png" alt="" (click)="delete(budget_data)">
                    }
                  </td>
                </tr>
              </table>
              }
            </div>
          </div>
          <div class="total">
            <span>總計</span>
            <span>{{item['total_budget']}}元</span>
          </div>
          }
        </div>
        }
      </div>
    </div>
  </div>
</div>
