@import "../../../nz-style-custom.scss";

.record-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .btn-section {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @media(max-width: 700px) {
      display: flex;
      justify-content: center;
    }

    .btn:first-child {
      margin-left: 10px;
    }
  }

  // 卡片
  .card-section {
    flex: 1;
    display: flex;
    justify-content: center;
    width: 98%;
    height: calc(100% - 80px);
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: auto;

    .container {
      // width: 90%;
      height: 100%;

      // 換行後置中設定(待優化)
      @media (min-width: 1754px) {
        max-width: 1488px;
      }

      @media (max-width: 1753px) {
        max-width: 1113px;
      }

      @media (max-width: 1481px) {
        max-width: 738px;
      }

      @media (max-width: 1091px) {
        max-width: 363px;
      }

      @media (max-width: 753px) {
        justify-content: center;
      }

      .all-card {
        display: flex;
        flex-wrap: wrap;
        gap: 27px;
        width: 100%;
        height: 100%;
        // overflow: auto;

        // 各卡片
        .each-item2 {
          width: 350px;
          height: 300px;
          border: 1px solid #fcf3ea;
          border-radius: 10px;
          background-color: rgba(189, 224, 254, 0.1);
          // background-color: rgba(50, 50, 50, 0.1);
          box-shadow: 1.5px 1.5px 8px 1px rgba(180, 225, 255, 0.2);

          .title {
            color: #000;
            background-color: #fcf3ea;
            // border: 1px solid #e6d5ce;
            border-radius: 8px 8px 0 0;
            font-size: 20px;
            padding: 6px;
            text-align: center;
            height: 45px;
            margin-bottom: 0;
          }

          .content {
            width: 100%;
            height: calc(100% - 90px);
            padding: 12px;
            overflow-y: auto;

            table {
              width: 100%;

              td {
                height: 40px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.35);
                font-size: 16px;
                color: #fff;
              }

              .one {
                width: 30%;
                padding-left: 10px;
                font-weight: 500;
                font-size: 17px;
                // background-color: #d5bdaf;
              }

              .two {
                width: 30%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }

              .three {
                width: 50%;
                text-align: right;
                padding-right: 10px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }

              .income {
                color: #80ed99;
              }

              .expend {
                color: #ef233c;
              }

              .budget {
                color: #fff2b2;
              }
            }
          }

          .total {
            display: flex;
            // justify-content: flex-end;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 45px;
            padding-left: 22px;
            padding-right: 30px;
            font-size: 18px;
            font-weight: 500;
            color: #f9f5f3;
          }
        }
      }
    }
  }

  // 表格
  .form-section {
    flex: 1;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 25px 25px;
    overflow-y: auto;

    .container {
      width: 95%;

      .table {
        width: 100%;
      }
    }
  }
}

img {
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 2px;
  cursor: pointer;
}

img:first-child {
  margin-right: 5px;
}
