.analyze {
  position: relative;
  width: 100%;
  height: calc(100vh - 96px);

  &.open {
    width: calc(100% - 200px);
    margin-left: 200px;
  }

  &.close {
    width: calc(100% - 56px);
    margin-left: 56px;
  }

  .filter-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #d5bdaf;

    .left-section {
      display: flex;

      .search-btn {
        margin-left: 10px;
      }

      @media(max-width: 900px) {
        display: none;
      }
    }

    .btn {
      width: 60px;
      height: 36px;
      font-size: 18px;
      background-color: #f8f9fa;
      border: 1px solid #f8f9fa;
      color: #011e4d;
      border-radius: 8px;
      margin-right: 10px;
      cursor: pointer;

      @media(max-width: 900px) {
        display: none;
      }
    }

    .btn:hover {
      background-color: #011e4d;
      border: 1px solid #f8f9fa;
      color: #f8f9fa;
    }
  }
}

.filter1 {
  position: relative;
  width: 240px;
  margin-left: 10px;

  @media (max-width: 1200px) {
    width: 160px;
  }

  @media(max-width: 900px) {
    display: none;
  }

  .filter1-select {
    width: 100%;
    height: 36px;
    background: linear-gradient(to bottom, #f8f9fa, #e9ecef);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;

    img {
      width: 16px;
      height: 16px;
    }

    img.expanded1 {
      animation: arrowAnimation 0.25s ease forwards;
    }

    p {
      font-size: 16px;
      line-height: 36px;
      margin-bottom: 0;
    }
  }

  .filter1-detail {
    position: absolute;
    z-index: 999;
    top: 42px;
    width: 100%;
    display: none;
    border-radius: 5px;
    background: linear-gradient(to bottom, #f8f9fa, #e9ecef);
    padding: 12px;
  }

  .filter1-detail.expanded1 {
    animation: expandAnimation1 0.25s ease forwards;
    display: block;
  }
}

.filter2 {
  position: relative;
  width: 240px;
  margin-left: 10px;

  @media (max-width: 1200px) {
    width: 160px;
  }

  @media(max-width: 900px) {
    display: none;
  }

  .filter2-select {
    width: 100%;
    height: 36px;
    background: linear-gradient(to bottom, #f8f9fa, #e9ecef);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;

    img {
      width: 16px;
      height: 16px;
    }

    img.expanded2 {
      animation: arrowAnimation 0.25s ease forwards;
    }

    p {
      font-size: 16px;
      line-height: 36px;
      margin-bottom: 0;
    }
  }

  .filter2-detail {
    position: absolute;
    z-index: 999;
    top: 42px;
    width: 100%;
    display: none;
    border-radius: 5px;
    background: linear-gradient(to bottom, #f8f9fa, #e9ecef);
    padding: 12px;
  }

  .filter2-detail.expanded2 {
    animation: expandAnimation1 0.25s ease forwards;
    display: block;
  }
}

.filter3 {
  position: relative;
  width: 280px;
  margin-left: 10px;

  @media (max-width: 1200px) {
    width: 200px;
  }

  @media(max-width: 900px) {
    display: none;
  }

  .filter3-select {
    width: 100%;
    height: 36px;
    background: linear-gradient(to bottom, #f8f9fa, #e9ecef);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;

    img {
      width: 16px;
      height: 16px;
    }

    img.expanded3 {
      animation: arrowAnimation 0.25s ease forwards;
    }

    p {
      font-size: 16px;
      line-height: 36px;
      margin-bottom: 0;
    }
  }

  .filter3-detail {
    position: absolute;
    z-index: 999;
    top: 42px;
    width: 100%;
    display: none;
    border-radius: 5px;
    background: linear-gradient(to bottom, #f8f9fa, #e9ecef);
    padding: 12px;

    .time-list {
      display: flex;
      flex-direction: column;
      padding: 10px;

      .radio-item {
        margin-bottom: 4px;
      }

      .radio-item:first-child {
        margin-top: 4px;
      }
    }
  }

  .filter3-detail.expanded3 {
    animation: expandAnimation2 0.25s ease forwards;
    display: block;
  }
}

@keyframes expandAnimation1 {
  0% {
    height: 0;
    opacity: 0;
  }

  100% {
    height: 200px;
    opacity: 1;
  }
}

@keyframes expandAnimation2 {
  0% {
    height: 0;
    opacity: 0;
  }

  100% {
    height: 220px;
    opacity: 1;
  }
}

@keyframes arrowAnimation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

// checkbox
::ng-deep .ant-checkbox-group {
  height: 125px;
  overflow-y: auto;
}

::ng-deep .ant-checkbox-group .ant-checkbox-wrapper {
  width: 200px;
  margin-bottom: 4px;
}

::ng-deep .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #DAA520;
  border-color: #DAA520;
}

// radio
::ng-deep .ant-radio-checked .ant-radio-inner {
  background-color: #fff;
  border-color: #DAA520;
}

::ng-deep .ant-radio-checked .ant-radio-inner::after {
  background-color: #DAA520;
  border-color: #DAA520;
}
