<div class="all">
  <div class="title">
    <h1>{{ this.type === 'income' ? '新增收入分類' : '新增支出分類'}}</h1>
  </div>
  <div class="content">
    <div class="item">
      <input type="text" placeholder="請輸入新分類名稱" [(ngModel)]="name">
    </div>
  </div>
  <div class="button-section">
    <div class="section">
      <button nz-button nzType="default" class="btn blue-light" (click)="cancel()">取消</button>
      <button nz-button nzType="primary" class="btn blue" (click)="submit()">儲存</button>
    </div>
  </div>
</div>