.system-setting {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  // 主區塊
  .main-section {
    // width: 70%;
    width: 1200px;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .theme {
      width: 80%;
      height: 60%;
      border: 1px solid #fff;
      border-radius: 10px;
      margin: 0 auto;
      margin-bottom: 30px; // 待調整

      @media(max-width: 800px) {
        height: 90%;
      }

      h2 {
        height: 50px;
        color: #000;
        background-color: #fff;
        border-radius: 8px 8px 0 0;
        line-height: 50px;
        text-align: center;
        margin-bottom: 0;
      }
    }
  }
}

// 收入/支出區塊
.section {
  flex: 1;
  display: flex;
  width: 100%;
  height: calc(100% - 50px);
  overflow: auto;
  background-color: rgba(189, 224, 254, 0.1);
  box-shadow: 1.5px 1.5px 8px 1px rgba(180, 225, 255, 0.2);

  @media(max-width: 800px) {
    flex-direction: column;
  }

  .data {
    // height: 100%;
    flex: 1;
    padding: 10px;

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 25px;
      margin-top: 5px;
    }

    p {
      display: inline-block;
      font-size: 20px;
      color: #fff;
      margin-bottom: 0;
    }

    .btn-test {
      button {
        width: 55px;
        height: 32px;
        margin-left: 5px;
        margin-right: 6px;
        border-radius: 6px;
        cursor: pointer;
      }
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      gap: 16px;
      padding-left: 16px;
      // height: calc(100% - 60px);
      // overflow: auto;

      .each-item {
        width: calc(25% - 16px);
        min-width: 80px;
        height: 36px;
        border-radius: 18px;
        font-size: 16px;
        line-height: 32px;
        margin-bottom: 6px;
        text-align: center;

        span {
          cursor: pointer;
        }
      }

      .income-item {
        border: 2px solid #80ed99;
        background-color: #ddeee1;
      }

      .expend-item {
        border: 2px solid #ef233c;
        ;
        background-color: #f2c7cc;
      }
    }
  }

  .data:first-child {
    border-right: 1px solid #fff;

    @media(max-width: 800px) {
      border-right: none;
      border-bottom: 1px solid #fff;
      ;
    }
  }
}

img {
  width: 20px;
  height: 20px;
  margin-bottom: 3px;
  cursor: pointer;
}
