<div class="system-setting">
  <div class="main-section">
    <div class="theme category">
      <h2>分類管理</h2>
      <!-- 收入/支出區塊 -->
      <div class="section">
        <div class="data income">
          <div class="title">
            <p class="income-title">收入分類</p>
            <div class="btn-test">
              <button class="btn" (click)="createCategory('income')">新增</button>
              @if(!deleteIncomeStatus) {
              <button class="btn" (click)="deleteCategory('income')">刪除</button>
              } @else {
              <button class="btn" (click)="saveResult('income')">結束</button>
              }
            </div>
          </div>
          <ul>
            @for (item of allIncomeCategory; track $index) {
            <li class="each-item income-item">{{item.name}}
              @if(this.deleteIncomeStatus) {
              <img src="./assets/icon/delete2.png" alt="" (click)="deleteItem(item)">
              }
            </li>
            }
          </ul>
        </div>
        <div class="data expend">
          <div class="title">
            <p class="expend-title">支出分類</p>
            <div class="btn-test">
              <button class="btn" (click)="createCategory('expend')">新增</button>
              @if(!deleteExpendStatus) {
              <button class="btn" (click)="deleteCategory('expend')">刪除</button>
              } @else {
              <button class="btn" (click)="saveResult('expend')">結束</button>
              }
            </div>
          </div>
          <ul>
            @for (item of allExpendCategory; track $index) {
            <li class="each-item expend-item">{{item.name}}
              @if(this.deleteExpendStatus) {
              <img src="./assets/icon/delete2.png" alt="" (click)="deleteItem(item)">
              }
            </li>
            }
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
