<div class="custom-list">
  <!-- <nz-input-group nzSearch [nzPrefix]="prefixTemplateSearch">
    <input type="text" nz-input placeholder="請輸入關鍵字" [(ngModel)]="keyword" (ngModelChange)="filterData(keyword)" />
  </nz-input-group> -->
  <!-- <ng-template #prefixTemplateSearch><span nz-icon nzType="search"></span></ng-template> -->
  <!-- @if (1) {
  <div class="custom-label" [ngClass]="{'w33': size === '1x2', 'w50': size !== '1x2'}">
    <ng-container *ngFor="let item of label">
      <button [ngClass]="{'clicked': item.clicked}" (click)="selectData(item.name)">{{ item.name }}</button>
    </ng-container>
  </div>
  } -->
  <div class="custom-container">
    <ng-container appDynamicComponentHost>
    </ng-container>
  </div>
</div>