.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .data {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      color: #fff;
      font-size: 20px;
    }

    .have {
      color: #61C9A8;
    }

    .no {
      color: #F06449;
    }
  }

  span {
    color: #F06449;
    background-color: #FCDFD9;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid #F06449;
    padding: 2px 4px;
  }
}
