<app-card [cardSetting]="card">
  <div class="container">
    <div class="water-section" [ngStyle]="{backgroundColor: this.waterColor2, 'border': '4px solid' + this.textColor}">
      <div class="text-section">
        @if(rate >= 0) {
        <span class="text number" [ngStyle]="{'color': this.textColor}">{{rate}}</span>
        <span class="text unit" [ngStyle]="{'color': this.textColor}">%</span>
        }
      </div>
      <div [ngClass]="rate >= 0 ? 'text-section2' : 'text-section3'">
        @if(rate >= 0) {
        <span [ngStyle]="{color: this.textColor, 'font-size': '1rem', 'font-weight': 600}">
          剩餘 {{ remainBudget }} 元
        </span>
        } @else {
        <span [ngStyle]="{color: '#F06449', 'font-size': '1.25rem', 'font-weight': 600}">本月預算已超出</span>
        }
      </div>
    </div>
  </div>
</app-card>
