.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .water-section {
    position: relative;
    height: calc(100% - 18px);
    aspect-ratio: 1; // 確保寬高保持一樣(避免變形)
    // border: 4px solid #fff;
    border-radius: 50%;

    // 替代方案(如果無法解決水球圖文字顏色問題)
    .text-section {
      position: absolute;
      top: 40%;
      left: 57.5%; // 讓數字在中間
      z-index: 1;
      transform: translate(-50%, -50%);

      .text {
        font-weight: 700;
        line-height: 100%;
      }

      .number {
        font-size: 3rem;
      }

      .unit {
        font-size: 1.875rem;
      }
    }

    .text-section2 {
      position: absolute;
      top: 75%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      width: 85%;
      text-align: center;

      .test {
        font-size: 1rem;
      }
    }

    .text-section3 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      width: 85%;
      text-align: center;
    }

    .echart {
      width: 100%;
      height: 100%;
    }
  }
}

